/* media for Iphone 5  or smaller phones*/
body {
    font-family: 'Karla', sans-serif;
    background-color: #F9F2E8;
    padding: 1em 1em 0 1em;
}

h1 {
    font-size: 0.8em;
}

p {
    font-size: 10px;
}

ul {
    font-size: 10px;
}

a {
    color: black;
    font-weight: bold;
    font-size: 10px;
}

a:active {
    color: #023e63;
}

hr {
    width: 20px;
    border: 0.5px solid black;
}

.container {
    background-color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
}

.row {
    position: relative;
    display: flex;
    height: 93vh;
    flex-direction: column;
}

.row-2 {
    position: relative;
    display: flex;
    margin: 20px 0;
    flex-direction: row;
}

.row-3 {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: row;
}

.row-4 {
    position: relative;
    display: flex;
    height: 78vh;
    flex-direction: column;
}

.row-5 {
    position: relative;
    display: flex;
    height: 14vh;
    padding-top: 0px;
    flex-direction: row;
}

.row-6 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.column {
    height: 100%;
}

.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.left-3 {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.left-4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.middle-3 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 0px 20px;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 0px 20px 0px 0px;
}

.right-3 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.right-4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.padding {
    padding-left: 30px;
    padding-right: 30px;
}

.padding-2 {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}

.padding-3 {
    padding-left: 30px;
    padding-right: 30px;
}

.greeting {
    color: rgb(76, 177, 190);
    margin: 0;
    padding-bottom: 7px;
}

.header {
    text-align: center;
}

.title {
    font-size: 2em;
    margin: 0;
}

.get-to-know {
    background-color:rgb(76, 177, 190);
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius:30px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    padding: 11px 26px;
    margin-top: 12px;
}

.get-to-know:hover {
    background-color: rgb(63, 147, 158);
}

.get-to-know:active {
    background-color: rgb(56, 130, 139);
}

.img-1 {
    width: 70vw;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.reveal {
    color: black;
    text-align: center;
}

.emoticon {
    color: rgb(76, 177, 190);
    text-align: left;
}

.bold {
    font-weight: bold;
}

#profile {
    margin: 50px 0px 50px 0px;
}

#experiences {
    margin-bottom: 50px;
}

.subtitle {
    color: rgb(76, 177, 190);
}

.blue {
    color: rgb(76, 177, 190);
}

.blue:hover {
    color: rgb(63, 147, 158);
}

.blue:active {
    color: rgb(56, 130, 139);
}

.date {
    color: rgb(76, 177, 190);
    margin-top: 8px;
    font-size: 10px;
}

.company {
    font-size: 10px;
}

.logo {
    width: 15vw;
}

.project {
    width: 80vw;
}

.arrow {
    color: rgb(76, 177, 190);
    padding-left: 3px;
}

.copyright {
    text-align: right;
    padding: 0.5em;
}

.center {
    text-align: center;
    padding: 0em 0 2em 0;
}

.center-2 {
    text-align: left;
    padding: 2em 0 2em 0;
}

.socmed {
    font-size: 10px;
    color: white;
    background-color: rgb(76, 177, 190);
    padding: 5px;
    margin: 1px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.socmed:hover {
    background-color: rgb(63, 147, 158);
}

.socmed:active {
    background-color: rgb(56, 130, 139);
}

/* Media for average smartphones*/
@media (min-height: 600px) {
    h1 {
        font-size: 1em;
    }

    p {
        font-size: 12px;
    }

    ul {
        font-size: 12px;
    }

    a {
        font-size: 12px;
    }

    .title {
        font-size: 2.5em;
    }

    .date {
        margin-top: 10px;
        font-size: 12px;
    }

    .company {
        font-size: 12px;
    }

    .row {
        height: 94vh;
    }

    .row-5 {
        height: 13vh;
    }

    .center {
        padding: 3em 0 6em 0;
    }

    .center-2 {
        padding: 4em 0 2em 0;
    }

    .socmed {
        font-size: 12px;
        padding: 7px;
        margin: 1px;
    }
}

/* Media for smaller screen laptops (touchscreen etc) */
@media (min-width: 64em) {
    body {
        padding: 3em 3em 0 3em;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 16px;
    }

    ul {
        font-size: 16px;
    }

    a {
        font-size: 16px;
    }

    hr {
        width: 60px;
        border: 0.6px solid black;
    }

    .row {
        height: 92vh;
        flex-direction: row;
    }

    .row-2 {
        position: relative;
        display: flex;
        margin: 50px 0;
        flex-direction: row;
    }

    .row-3 {
        position: relative;
        display: flex;
        height: 100%;
        flex-direction: row;
    }

    .row-4 {
        flex-direction: row;
        height: 43vh;
    }

    .row-5 {
        padding-top: 20px;
    }

    .row-6 {
        height: 40vh;
        flex-direction: row;
    }

    .left {
        width: 50%;
    }

    .left-2 {
        width: 30%;
    }

    .left-3 {
        width: 65%;
    }

    .left-4 {
        width: 50%;
    }

    .middle-3 {
        width: 35%;
        padding: 0px;
    }

    .right {
        width: 50%;
    }

    .right-2 {
        width: 35%;
        padding: 0px;
    }

    .right-3 {
        width: 35%;
    }

    .right-4 {
        width: 50%;
    }

    .padding {
        padding-left: 90px;
        padding-right: 90px;
        text-align: left;
    }

    .padding-2 {
        padding-left: 0px;
        padding-right: 90px;
        margin-top: 0px;
    }

    .padding-3 {
        padding-left: 20em;
        padding-right: 20em;
    }

    .header {
        text-align: left;
    }

    .title {
        font-size: 5em;
    }

    .get-to-know {
        padding: 16px 31px;
        margin-top: 23px;
    }

    .img-1 {
        width: 35vw;
    }

    .reveal {
        padding-top: 10px;
    }

    .emoticon {
        text-align: right;
    }

    #profile {
        margin: 0px;
    }

    .date {
        margin-top: 10px;
        font-size: 16px;
    }

    .company {
        font-size: 16px;
    }

    .logo {
        width: 5vw;
    }

    .project {
        width: 40vw;
    }

    .arrow {
        padding-left: 7px;
    }

    .center {
        padding: 2em 0 6em 0;
    }

    .center-2 {
        padding: 5em 0 5.2em 0;
    }

    .socmed {
        font-size: 18px;
        padding: 9px;
        margin: 2px;
    }
}

/* Media for above 1600 in width */
@media (min-width: 1601px) and (min-height: 700px) {

}